body, table.text { font-family: Cambria, Georgia, Palatino Linotype, Bookman Old Style; }
h1, h2, h3, h4, h5, h6, table { font-family: Calibri, sans-serif; }
pre, tt { font-family: Consolas, monospace; }

